{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Share your list{% endblock %}

{% block content %}
<div class="text-center">

	<h1>Share your list</h1>
	<p class="lead">
		feedshare.net is a simple service to share your feed reading list.<br />
		Simply <a href="{% url 'feedlists_share' %}">upload or link to your OPML file</a> and share the link.
	</p>
	<p>
		<a href="{% url 'feedlists_share' %}" class="btn btn-lg btn-danger">
			<i class="fa fa-heart"></i>
			Share your list
		</a>
	</p>

</div>
{% endblock %}
