{% extends "base.html" %}

{% block title %}Popuplar lists{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-4 text-center">
		<span style="font-size:150px;">
			<i class="fa fa-sort-numeric-asc"></i>
		</span>
	</div>
	<div class="col-md-8">
		<ol class="lead">
		{% for feedlist in feedlists %}
			<li>
				<a href="{{ feedlist.get_absolute_url }}">{{ feedlist }}</a>
				<br class="visible-xs">
				{% if feedlist.author %}<small>by {{ feedlist.author }}</small>{% endif %}
			</li>
		{% endfor %}
		</ol>
	</div>
</div>

{% endblock %}
