{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Upload or link to your list{% endblock %}

{% block javascript %}
<script type="text/javascript" charset="utf-8">
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
	$('#link-tab a').tab('show');
}
</script>
{% endblock %}

{% block content %}
<div class="text-center">
	<h1>Share your list</h1>
	<p class="lead">
		Upload or link to your OPML feed list below. It will be publicly available.<br />
		The slug will be part of the link to it.
	</p>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs fs-tabs" id="tabs">
			<li id="upload-tab" class="{% if used_form == 'upload' %}active{% endif %}"><a href="#upload" data-toggle="tab">
				<i class="fa fa-upload"></i>
				Upload
			</a></li>
			<li id="link-tab" class="{% if used_form == 'link' %}active{% endif %}"><a href="#link" data-toggle="tab">
				<i class="fa fa-link"></i>
				Link
			</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content fs-tab-content">
			<div class="tab-pane {% if used_form == 'upload' %}active{% endif %}" id="upload">

				<div class="visible-mobile">
					<div class="well">
						<p class="alert alert-info" style="margin-bottom:5px;">
							Since you are using a mobile device, you cannot upload your OPML file. To do so, please use a desktop browser. 
							You still may link your file, if it's online.
						</p>
						<p style="margin-bottom:0px;">
							<a href="javascript:$('#link-tab a').tab('show');" class="btn btn-block btn-lg btn-primary">Link OPML</a>
						</p>
					</div>
				</div>

				<form action="{% url 'feedlists_share' %}" method="post" class="form visible-desktop" enctype="multipart/form-data">
					<input type="hidden" name="form_type" value="upload" />
					{% csrf_token %}

						{% if upload_form.errors %}
						<div class="alert alert-danger">
							{% if upload_form.slug.errors %}Slug: {{ upload_form.slug.errors.0 }}<br />{% endif %}
							{% if upload_form.file.errors %}File: {{ upload_form.file.errors.0 }}<br />{% endif %}
						</div>
						{% endif %}

						<div class="well">
							<div class="form-group">
								<div class="input-group" style="margin-bottom:10px;">
									<span class="input-group-addon"><nobr><i class="fa fa-globe"></i>&nbsp;feedshare.net/</nobr></span>
									<input class="form-control input-lg text-left" id="id_slug" maxlength="255" name="slug" placeholder="Slug" required="required" title="List slug" type="text" value="{% if upload_form.slug.value %}{{ upload_form.slug.value }}{% endif %}">
								</div>
							</div>
							<div class="form-group">
								<div class="form-control input-lg"><input id="id_file" name="file" placeholder="OPML file" required="required" title="OPML file" type="file" value="{{ upload_form.file.value }}" /></div>
							</div>
							<p class="text-info" style="margin-bottom:0;">Select a valid OPML file, probably generated by your favorite feed reader.</p>
						</div>
						<p><button type="submit" class="btn btn-success btn-lg"><i class="fa fa-upload"></i> Upload</button></p>
				</form>  	
	
			</div>
			<div class="tab-pane {% if used_form == 'link' %}active{% endif %}" id="link">
  
				<form action="{% url 'feedlists_share' %}" method="post" class="form" enctype="multipart/form-data">
					<input type="hidden" name="form_type" value="link" />
					{% csrf_token %}

					{% if link_form.errors %}
					<div class="alert alert-danger">
						{% if link_form.slug.errors %}Slug: {{ link_form.slug.errors.0 }}<br />{% endif %}
						{% if link_form.url.errors %}URL: {{ link_form.url.errors.0 }}<br />{% endif %}
					</div>
					{% endif %}

					<div class="well fs-tab-well">
						<div class="form-group">
							<div class="input-group" style="margin-bottom:10px;">
								<span class="input-group-addon"><nobr><i class="fa fa-globe"></i>&nbsp;feedshare.net/</nobr></span>
								<input class="form-control input-lg text-left" id="id_slug" maxlength="255" name="slug" placeholder="Slug" required="required" title="List slug" type="text" value="{% if link_form.slug.value %}{{ link_form.slug.value }}{% endif %}">
							</div>
						</div>
						<div class="form-group">
							<input class="form-control input-lg text-center" id="id_url" maxlength="255" name="url" placeholder="URL to your OPML file" required="required" title="List URL" type="text" value="{% if link_form.url.value %}{{ link_form.url.value }}{% endif %}">
						</div>
						<p class="text-info" style="margin-bottom:0;">Enter the URL to your OPML file.<br />It's probably provided by your favorite feed reading service.</p>
					</div>
					<p><button type="submit" class="btn btn-success btn-lg"><i class="fa fa-link"></i> Share</button></p>

				</form>
			</div>
			
		</div>
	</div>
</div>

{% endblock %}
