{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block content %}
<h1 class="pull-left" style="margin-top:0;">{% block account_title %}{% trans 'Account' %}{% endblock %}</h1>

<ul class="nav nav-pills pull-right">
	<li class="{% block account_nav_email %}{% endblock %}">
		<a href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
	</li>
	<li class="{% block account_nav_change_password %}{% endblock %}">
		<a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
	</li>

	{% url 'socialaccount_connections' as connections_url %}
	{% if connections_url %}
	<li class="{% block account_nav_socialaccount_connections %}{% endblock %}">
    	<a href="{{ connections_url}}">{% trans 'Connected Accounts' %}</a>
	</li>
	{% endif %}
</ul>

<div class="clearfix"></div>
<hr />

{% block account_content %}{% endblock %}
{% endblock %}

