{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Set Password" %}{% endblock %}
{% block account_title %}{% trans "Set Password" %}{% endblock %}
{% block account_nav_change_password %}active{% endblock %}

{% block account_content %}
<p class="lead">You have no password yet. Please set one to be able to log in with your e-mail address.</p>
<form method="post" action="." class="password_set">
	{% csrf_token %}
	{{ password_set_form|bootstrap }}
	<div class="form-actions">
		<input class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>
	</div>
</form>
{% endblock %}
