{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Contribute{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-9">
		<h1>Contribute</h1>
		<p class="lead">
			feedshare.net is now open sourced.<br />
			If you want to contribute to this project, clone the repository on GitHub:
		</p>
		<p>	
			<a class="btn btn-lg btn-primary" href="https://github.com/holzenburg/feedshare">
				<i class="fa fa-github-alt"></i>
				github.com/holzenburg/feedshare
			</a>
		</p>
		<br />
		<hr />
		<h5>A note on the origin of this project</h5>
		<p>
			<a href="http://inessential.com">Brent Simmons</a>, Author of NetNewsWire, MarsEdit, Glassboard and Vesper
			<a href="http://inessential.com/2014/01/04/my_feeds">posted his OPML file</a>,
			lamenting the lack of an OPML sharing service.
			That drove me to spend a weekend on Feedshare.
			Seemingly <a href="https://twitter.com/search?q=feedshare.net">there</a>
			<a href="http://blog.louisgray.com/2014/01/feedshareforrssopml.html">is</a>
			<a href="http://inessential.com/2014/01/06/feedshare_net">some</a>
			<a href="http://rumproarious.com/2014/01/06/feedshare-an-opml-sharing-service/">interest</a>
			in such a service. 
			<a href="http://alexkessinger.net">Alex Kessinger</a> encouraged me to open source the code.
			I think that's a great idea and hope that others might want to help improving it and adding features.
		</p>
		<p class="author small">
			<strong><a href="https://twitter.com/holzenburg">Arne Holzenburg</a></strong>, January 2014
		</p>
	</div>
	<div class="col-md-3">
		<i class="fa fa-code" style="font-size:200px;"></i>
	</div>
</div>

{% endblock %}