{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Imprint{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6">
		<h1>Imprint</h1>
	</div>
	<div class="col-md-6">
		<br />
		<p class="text-info">
			<i class="fa fa-info-circle"></i> Germany: Angaben gemäß § 5 TMG
		</p>
		<p>
			Arne Holzenburg<br />
			Brüsseler Straße 89-93<br />
			50672 Köln
		</p>
		<p>
			Phone: +49 221 56936608<br />
			Email: info@feedshare.net
		</p>
	</div>
</div>

<hr />
<div class="row">
	<div class="col-md-6">
		<h3>Haftungsausschluss</h3>
		<h4>Haftung für Inhalte</h4>
		<p>Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
		<h4>Haftung für Linklisten und Links</h4>
		<p>Unser Angebot enthält Links zu externen Webseiten Dritter und von Benutzern eingestellte Linklisten, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die vom Betreiber selbst verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Linklisten können anonym und ohne weitere Kontrolle eingestellt werden. Rechtsverstöße hat der jeweilige Benutzer zu verantworten. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Listen und Links umgehend entfernen.</p>
		<h4>Urheberrecht</h4>
		<p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
	</div>
	<div class="col-md-6">
		<h3> Disclaimer </h3>
		<p class="text-info"><i class="fa fa-exclamation"></i> Translated with Google Translate</p>
		<h4> Liability for Content </h4>
		<p>As a service provider we are responsible according to § 7 paragraph 1 of TMG (german law) for own contents on these pages under the general laws. According to §§ 8 to 10 TMG we are not obliged as a service provider to monitor transmitted or stored foreign information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under the general laws remain unaffected. However, a relevant liability is only possible from the date of knowledge of a specific infringement. Upon notification of such violations, we will remove the content immediately.</p>
		<h4> Liability for link lists and links</h4>
		<p>Our offer contains links to external websites and users set lists of links, over which we have no control. Therefore we can not accept any responsibility for their content. The respective provider or operator of the pages is always responsible for the contents of any Linked Site. The self-linked by the operator sites were checked at the time of linking for possible violations of law. Illegal contents were at the time of linking. A permanent control of the linked pages is unreasonable without concrete evidence of a violation. Link lists can be set anonymously and without any other control. Violations of the law, the respective user to answer. Upon notification of violations, we will remove such lists and links.</p>
		<h4>Copyright</h4>
		<p>Created by the site content and works provided on these pages are subject to German copyright. Duplication, processing, distribution and any kind of exploitation outside the limits of copyright require the written consent of its respective author or creator. Downloads and copies of these pages are only permitted for private, non-commercial use. As far as the content is not created by the website operator, the copyrights of third parties. Any duplication or marked as such. If you still be aware of copyright infringement, we ask for a hint. Upon notification of violations, we will remove such content immediately.</p>
	</div>
</div>
{% endblock %}