{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Legal{% endblock %}

{% block meta %}
<meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block content %}

<h1>Legal issues</h1>
<div class="row">
	<div class="col-md-9">
		<p class="lead">
			feedshare.net is a simple service to share feed reading lists.<br />
			Anybody may <a href="{% url 'feedlists_share' %}">upload or link an OPML file</a> and share a link to it.
		</p>
		<p class="lead text-warning">
			As anybody may upload a list and may do so anonymously, we can not be held responsible for any uploaded content.
			If you stumble upon content that is against the law, please report it: <a href="mailto:abuse@feedshare.net" class="text-danger"><strong>abuse@feedshare.net</strong></a>.
			We will investigate and remove the content as soon as possible.
		</p>
	</div>
	<div class="col-md-3">
		<i class="fa fa-legal" style="font-size:100px;"></i>
	</div>
</div>

{% endblock %}