<footer class="fs-page-footer" role="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center">
					<small>
						<span class="part text-danger">
							<i class="fa fa-flash"></i>
							Report abuse:
							<a href="mailto:abuse@feedshare.net"><span class="text-danger" style="text-decoration:underline;">abuse@feedshare.net</span></a>
						</span><br />
						<span class="part">
							<i class="fa fa-info"></i>
							<a href="{% url 'imprint' %}">Imprint</a>
							&nbsp;&nbsp;&nbsp;
							<i class="fa fa-legal"></i>
							<a href="{% url 'legal' %}">Legal</a>
							&nbsp;&nbsp;&nbsp;
							<i class="fa fa-eye"></i>
							<a href="{% url 'privacy' %}">Privacy</a>
							&nbsp;&nbsp;&nbsp;
							<i class="fa fa-code"></i>
							<a href="{% url 'contribute' %}">Contribute</a>
						</span>
					</small>
				</p>
			</div>
		</div>
	</div>
</footer>