/* Body, header and footer */

body {
    padding-top: 50px;
    background: #f6f5f4;
}
html, body {
     height: 100%; /* required for footer */
}
.navbar-inverse {
    background: #2a2a22;
}

.fs-page-wrap {
    min-height: 100%; /* required for footer */
    padding-top: 24px;
}
.fs-page-content {
    overflow: visible;  /* required for footer */
    padding-bottom: 150px; /* needs to be bigger than footer height*/
}

.fs-messages-container {
    padding-top: 24px;
}

@media (min-width: 768px) {
    .fs-page-content {
        padding-top: 50px;
    }
}

.fs-page-footer {
    background: #e4e3e2;
    color: #666;
    position: relative;
    margin-top: -50px; /* negative footer height */
    height: 50px;
    font-size: 12px;
    line-height: 30px;
    padding: 10px 0 0 0;
    clear: both;
}
.fs-page-footer a {
    color: #999;
}
.fs-page-footer a:hover {
    text-decoration: none;
    color: #333;
}
.fs-page-tabbar {
    background: #e4e3e2;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
}
/*.fs-page-tabbar .nav-pills li a:link {
    background: #fff;
}*/
.fs-page-tabbar .nav-pills li a {
    color: #333;
    background: #fff;
}
.fs-page-tabbar .nav-pills li.active a {
    color: #fff;
    background: #333;
}
body.fs-has-tabbar .fs-page-footer {
    margin-top: -100px;
}

@media(max-width:767px){
    .fs-page-content {
        padding-bottom: 180px; /* needs to be bigger than footer height*/
    }
    .fs-page-footer {
        margin-top: -80px; /* negative footer height */
        height: 80px;
    }
    body.fs-has-tabbar .fs-page-footer,
    body.fs-has-tabbar-mobile .fs-page-footer {
        margin-top: -130px;
    }
}

body.desktop .visible-mobile {
    display: none;
}
body.mobile .visible-desktop {
    display: none;
}

.fs-anchor {
    position: relative;
    top: -80px;
}


/* Index */

body.fs-index {
    color: #333;
    padding-top: 70px;
}
@media(min-width:768px){
    body.fs-index {
        padding-top: 150px;
    }
}
body.fs-index h1 {
    font-size: 300%;
}
@media(max-width:767px){
    body.fs-index h1 {
        font-size: 250%;
    }
}
body.fs-index p.lead {
    font-size: 200%;
    font-weight: 200;
}

/* Typography */

@media(max-width:767px){
    .lead {
        font-size: 18px;
    }
}

.oneline {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}

/* Forms */

input[type="file"] {
    display: inline;
    line-height: 100%;
}

/* Pills and Tabs */

.text-center .nav-tabs,
.text-center .nav-pills {
  text-align: center;
}
.text-center .nav-tabs > li,
.text-center .nav-pills > li {
  float: none;
  display: inline-block;
  zoom: 1; /* hasLayout ie7 trigger */
}

/* Wells */

.well {
    background: #fafafa;
}

/* Tabs */

.fs-tab-content .well {
    background: #fafafa;
    border-color: #ddd;
    box-shadow: none;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.fs-tabs>li.active>a,
.fs-tabs>li.active>a:hover,
.fs-tabs>li.active>a:focus {
    background: #fafafa;
}

/* FeedList */

#FeedList p,
#FeedList h4,
#FeedList .label {
	line-height: 30px;
	margin: 0;
}
#FeedList hr {
	margin: 10px 0;
}

/* Buttons */

.fs-download-opml-button {
    padding-left: 10px;
    max-width: 100%;
}
@media(max-width:767px){
    .fs-download-opml-button {
        display: block;
    }
}

/* Navbar search form */

@media (max-width: 767px) {
	form.navbar-form.fs-search-form {
		border-top: none;
		margin-top: 0;
		margin-bottom: 0;
	}
    form.navbar-form.fs-search-form input.fs-search-input {
		width: 79%;
		display: inline;
        margin: 0;
	}
    form.navbar-form.fs-search-form button.fs-search-button {
        width: 19%;
        display: inline;
        float: right;
        margin: 0;
    }
}
@media (min-width: 768px) {
	form.navbar-form.fs-search-form {
		padding-top: 3px;
		margin-left: 20px;
		margin-right: -18px;
	}
    form.navbar-form.fs-search-form input.fs-search-input {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-color: #666;
		background: #333;
		color: #fff;
		width: 180px;
		margin-right: 0;
	}
    form.navbar-form.fs-search-form button.fs-search-button {
		margin-left: -34px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		width: 30px;
		padding-left: 8px;
	}
    /*
    form.navbar-form .twitter-typeahead input.form-control.input-sm.fs-search-input.tt-query {
        vertical-align: baseline !important;
        top: 1px;
        z-index: 1;
    }
    form.navbar-form button {
        position: relative;
        z-index: 2;
    }
    */
}

/* Tagsinput */

.bootstrap-tagsinput {
    padding: 5px 6px 6px 6px;
    margin-bottom: 0;
}
.bootstrap-tagsinput .tag {
    font-size: 90%;
    font-weight: normal;
    padding: 4px 7px 5px 7px;
    background-color: #428bca;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f00d";
    padding: 0px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: none;
    color: black;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: none;
}

/* Typeahead */

.bootstrap-tagsinput {
    width: 100%;
}

.input-group .twitter-typeahead .form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
input.form-control.input-lg.tt-query {
    background-color: white !important;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.twitter-typeahead .hint-small {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 3px;
    line-height: 1.5;
}

.twitter-typeahead .hint-large {
	height: 45px;
	padding: 10px 16px;
	font-size: 18px;
	border-radius: 6px;
    line-height: 1.33;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

/* Tags */

.fs-commontags-1 { font-size: 22px; }
.fs-commontags-2 { font-size: 20px; }
.fs-commontags-3 { font-size: 18px; }
.fs-commontags-4 { font-size: 16px; }
.fs-commontags-5 { font-size: 14px; }
.fs-commontags-6 { font-size: 13px; }

