/* Body, header and footer */

body {
    padding-top: 50px;
}
html, body {
     height: 100%; /* required for footer */
}
.fs-page-wrap {
    min-height: 100%; /* required for footer */
    padding-top: 0px;
}
.fs-page-content {
    overflow: auto;  /* required for footer */
    padding-bottom: 100px; /* needs to be bigger than footer height*/
    padding-top: 50px;
}
.fs-page-footer {
    background: #eee;
    color: #666;
    position: relative;
    margin-top: -50px; /* negative footer height */
    height: 50px;
    font-size: 12px;
    line-height: 30px;
    padding: 10px 0 0 0;
    clear: both;
}
.fs-page-footer a {
    color: #999;
}
.fs-page-footer a:hover {
    text-decoration: none;
    color: #333;
}

@media(max-width:767px){
    .fs-page-content {
        padding-bottom: 150px; /* needs to be bigger than footer height*/
    }
    .fs-page-footer {
        margin-top: -80px; /* negative footer height */
        height: 80px;
    }
}


/* Typography */

@media(max-width:767px){
    .lead {
        font-size: 18px;
    }
}

/* Forms */

input[type="file"] {
    display: inline;
    line-height: 100%;
}

/* FeedList */

#FeedList p,
#FeedList h4,
#FeedList .label {
	line-height: 30px;
	margin: 0;
}
#FeedList hr {
	margin: 10px 0;
}

/* Buttons */

.fs-download-opml-button {
    padding-left: 10px;
    max-width: 100%;
}
@media(max-width:767px){
    .fs-download-opml-button {
        display: block;
    }
}

/* Navbar search form */

@media (max-width: 767px) {
	form.navbar-form.fs-search-form {
		border-top: none;
		margin-top: 0;
		margin-bottom: 0;
	}
    form.navbar-form.fs-search-form input.fs-search-input {
		width: auto;
		display: inline;
	}
}
@media (min-width: 768px) {
	form.navbar-form.fs-search-form {
		padding-top: 3px;
		margin-left: 20px;
		margin-right: -18px;
	}
    form.navbar-form.fs-search-form input.fs-search-input {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-color: #666;
		background: #333;
		color: #fff;
		width: 150px;
		margin-right: 0;
	}
    form.navbar-form.fs-search-form button.fs-search-button {
		margin-left: -34px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		width: 30px;
		padding-left: 8px;
	}
}
